.background {
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(58, 43, 146);
  background: radial-gradient(circle at 90% -260%, #f3f0df 45%, #4ecfef 55%, #1f71e1 64%, #3a2b92 75%);
}
