<!DOCTYPE html>
<html lang="en">
  <head>
    <% if(htmlWebpackPlugin.files.chunks.webfont) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks.webfont.entry %>"></script>
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      <% if(compilation.assets['base.css']) { %>
        <%= compilation.assets['base.css']._value %>
      <% } %>
    </style>
    <meta charset="UTF-8" />
    <meta name="description" content="Super Smash Bros Selection Screen" />
    <title>Super Smash Bros Selection Screen</title>
    <link rel="icon" href="<%= webpackConfig.output.publicPath %>assets/images/favicon.ico" />
    <% if(webpackConfig.mode === "production") { %>
    <link rel="stylesheet" type="text/css" href="<%= webpackConfig.output.publicPath %>index.css" />
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <% if(htmlWebpackPlugin.files.chunks.index) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>
    <% } %>
  </body>
</html>
