.colorLabel {
  color: black;
  opacity: 0.9;
  text-align: center;
  margin: 8px auto 8px;
  border-radius: 20px;
  background: white;
  max-width: 70%;
  padding: 4px;
  font-size: 20px;
  font-family: FOT-RodinHimawariPro-UB;
}
