%cursor-default {
  cursor: url('/assets/images/cursor/default.png'), auto;
}

%cursor-pointer {
  cursor: url('/assets/images/cursor/pointer.png'), auto;
}

%cursor-coin {
  cursor: url('/assets/images/cursor/coin.png'), auto;
}

%cursor-grab {
  cursor: url('/assets/images/cursor/grab.png'), auto;
}
