@import './url';

%cursor-default {
  cursor: url(getAsset('assets/images/cursor/default.png')), auto;
}

%cursor-pointer {
  cursor: url(getAsset('assets/images/cursor/pointer.png')), auto;
}

%cursor-coin {
  cursor: url(getAsset('assets/images/cursor/coin.png')), auto;
}

%cursor-grab {
  cursor: url(getAsset('assets/images/cursor/grab.png')), auto;
}
